
.loginAdv{
  background-image: url("https://www.shutterstock.com/shutterstock/photos/1411609538/display_1500/stock-vector-flat-cartoon-vector-illustration-with-working-people-set-of-scenes-with-efficient-and-effective-1411609538.jpg");
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 750px;
  height:900px;
  object-fit: fill;

}